/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common style or utilities*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0 auto;
  padding: a0;
}
/* Navigation bar */
header {
  padding: 0 300px;
}
.nav-bar {
  height: 94px;
  background: #562eff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  display: flex;
}
.nav-item {
  display: flex;
  text-align: right;
  margin-right: 20px;
}
.logo-container {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
}
.nav-item a {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}
.logo {
  height: 40px;
  margin-right: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  width: 807px;
  height: 0px;
  background: #d1d1d1;
  margin-bottom: 27px;
}
/* top-players style */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  margin-top: 2px;
  color: #562eff;
  font-weight: 500;
  font-size: 24px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-weight: 500;
  margin-left: 16px;
  font-size: 18px;
}
/* ---------------
top-blog style
------------------ */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}

/* ------------------
    courses style
-------------------- */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
}
.course-author {
  color: #ed6b4f;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  color: #ff4a60;
  font-weight: 600;
  font-size: 14.6913px;
  background: #ffe4e8;
  width: 75.83px;
  border-radius: 14.6913px;
}
